<div class="demoTourAppContainer">
	<div class="screen hello active">
		<div class="banner">
			<div class="logo" />
			<h1 class="title" data-literal='{"scope":"main","name":"hd_welcome"}' />
			<h2 class="sub" data-literal='{"scope":"main","name":"hd_welcome_sub"}' />
		</div>
		<div class="categories">
			<div class="cat biz" data-cat="biz" >
				<div class="ico" />
			</div>
			<div class="cat dev" data-cat="dev">
				<div class="ico" />
			</div>
			<div class="cat alien" data-cat="alien">
				<div class="ico" />
			</div>
		</div>
		<div class="descriptions">
			<div class="desc none selected" data-literal='{"scope":"main","name":"lbl_desc_none"}' />
			<div class="desc biz" data-literal='{"scope":"main","name":"lbl_desc_biz"}' />
			<div class="desc dev" data-literal='{"scope":"main","name":"lbl_desc_dev"}' />
			<div class="desc alien" data-literal='{"scope":"main","name":"lbl_desc_alien"}' />
		</div>
		<div class="start_tour">
			<div class="ico" />
			<div class="title" data-literal='{"scope":"main","name":"lbl_start_tour"}' />
		</div>
	</div>
	<div class="screen slider" />
</div>