<div class="slideShow" >
	<div class="slides" />
	<div class="controls">
		<div class="button startover positive">
			<div class="ico" />
			<div class="title" data-literal='{"scope":"slider","name":"lbl_startOver"}' />
		</div>
		<div class="play">
			<div class="button previous">
				<div class="ico" />
				<div class="title" data-literal='{"scope":"slider","name":"lbl_prevSlide"}' />
			</div>
			<div class="button next positive">
				<div class="ico" />
				<div class="title" data-literal='{"scope":"slider","name":"lbl_nextSlide"}' />
			</div>
		</div>
	</div>
</div>