<div class="slideShow" >
	<div class="slides">
		<div class="slide biz active">
			<img src="%{media}/slides/biz/biz_0.svg" width="100%" />
			<div class="desc" data-literal='{"scope":"slides","name":"lbl_desc_biz_0"}' />
		</div>
		<div class="slide dev active">
			<img src="%{media}/slides/dev/dev_0.svg" width="100%" />
			<div class="desc" data-literal='{"scope":"slides","name":"lbl_desc_dev_0"}' />
		</div>
		<div class="slide alien active">
			<img src="%{media}/slides/alien/alien_0.svg" width="100%" />
			<div class="desc" data-literal='{"scope":"slides","name":"lbl_desc_alien_0"}' />
		</div>
		<div class="slide dev alien">
			<img src="%{media}/slides/dev/dev_1.png" width="100%" />
			<div class="desc" data-literal='{"scope":"slides","name":"lbl_desc_dev_1"}' />
		</div>
		<div class="slide dev alien">
			<img src="%{media}/slides/dev/dev_2.png" width="100%" />
			<div class="desc" data-literal='{"scope":"slides","name":"lbl_desc_dev_2"}' />
		</div>
		<div class="slide dev alien">
			<img src="%{media}/slides/dev/dev_3.png" width="100%" />
			<div class="desc" data-literal='{"scope":"slides","name":"lbl_desc_dev_3"}' />
		</div>
		<div class="slide dev alien">
			<img src="%{media}/slides/dev/dev_4.png" width="100%" />
			<div class="desc" data-literal='{"scope":"slides","name":"lbl_desc_dev_4"}' />
		</div>
		<div class="slide dev alien">
			<img src="%{media}/slides/dev/dev_5.png" width="100%" />
			<div class="desc" data-literal='{"scope":"slides","name":"lbl_desc_dev_5"}' />
		</div>
		<div class="slide biz alien">
			<img src="%{media}/slides/biz/biz_1.png" width="100%" />
			<div class="desc" data-literal='{"scope":"slides","name":"lbl_desc_biz_1"}' />
		</div>
		<div class="slide biz alien">
			<img src="%{media}/slides/biz/biz_2.png" width="100%" />
			<div class="desc" data-literal='{"scope":"slides","name":"lbl_desc_biz_2"}' />
		</div>
		<div class="slide biz alien">
			<img src="%{media}/slides/biz/biz_3.png" width="100%" />
			<div class="desc" data-literal='{"scope":"slides","name":"lbl_desc_biz_3"}' />
		</div>
		<div class="slide biz dev alien">
			<img src="%{media}/slides/end.svg" width="100%" />
			<div class="desc" data-literal='{"scope":"slides","name":"lbl_desc_end"}' />
		</div>
	</div>
	<div class="controls">
		<div class="button startover positive">
			<div class="ico" />
			<div class="title" data-literal='{"scope":"slider","name":"lbl_startOver"}' />
		</div>
		<div class="play">
			<div class="button previous">
				<div class="ico" />
				<div class="title" data-literal='{"scope":"slider","name":"lbl_prevSlide"}' />
			</div>
			<div class="button next positive">
				<div class="ico" />
				<div class="title" data-literal='{"scope":"slider","name":"lbl_nextSlide"}' />
			</div>
		</div>
	</div>
</div>